@model WorkerDetailVM
<div class="detail">
    <p>@Model.FullName</p>
    <p>@Model.CreatedDate</p>
    <p>@Model.Description</p>
    <p>@Model.CategoryName</p>
    <p><img src="~/images/@Model.Image"/></p>



</div>